build/
bin/Engined.exe
bin/Engined.ilk
bin/Engined.pdb
bin/imgui.ini
Engine/ipch/
Engine/Engine.sdf
Engine/.vs/Engine/v14/.suo
Engine/Engine.VC.opendb
bin/Engine.exe
bin/Engine.iobj
bin/Engine.ipdb
bin/Engine.pdb
bin/Engined.exp
bin/Engined.lib
Engine/#Verone/
bin/Engined.exp
bin/Engined.lib
bin/Settings.cap
bin/results.cpuprofile
bin/Engined.exp
bin/Engine.lib
max/max*
*.VC.db
*.orig
*.opendb
bin/Phys*
bin/glut32.dll
bin/nvToolsExt64_1.dll
bin/data/navmeshes/
