<?xml version="1.0" encoding="utf-8"?>
<Verone xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WorkingDir>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\#Verone</WorkingDir>
  <Language>Cpp11</Language>
  <ThreadsCount>1</ThreadsCount>
  <IncludeDirs>
    <IncludeDir>C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\include</IncludeDir>
    <IncludeDir />
    <IncludeDir>C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\atlmfc\include</IncludeDir>
    <IncludeDir>C:\Program Files (x86)\Windows Kits\10\Include\10.0.10240.0\ucrt</IncludeDir>
    <IncludeDir>C:\Program Files (x86)\Windows Kits\8.1\Include\um</IncludeDir>
    <IncludeDir>C:\Program Files (x86)\Windows Kits\8.1\Include\shared</IncludeDir>
    <IncludeDir>C:\Program Files (x86)\Windows Kits\8.1\Include\winrt</IncludeDir>
    <IncludeDir>.</IncludeDir>
    <IncludeDir>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\bin\data\shaders</IncludeDir>
    <IncludeDir>..</IncludeDir>
    <IncludeDir>$(NOINHERIT)</IncludeDir>
  </IncludeDirs>
  <Files>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\main.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\mcv_platform.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\mcv_platform.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\game.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\windows\app.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\windows\app.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\DDSTextureLoader.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\draw_utils.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\material.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\mesh.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\mesh_manager.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\render.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\render_config.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\render_instanced.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\render_manager.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\render_to_texture.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\shaders.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\static_mesh.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\technique.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\texture.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\vertex_declarations.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\DDSTextureLoader.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\draw_utils.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\gpu_trace.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\material.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\mesh.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\mesh_format.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\render.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\render_config.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\render_instanced.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\render_manager.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\render_to_texture.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\shaders.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\shader_cte.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\static_mesh.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\technique.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\texture.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\render\vertex_declarations.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\bin\data\shaders\constants\ctes_blur.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\bin\data\shaders\constants\ctes_bones.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\bin\data\shaders\constants\ctes_camera.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\bin\data\shaders\constants\ctes_light.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\bin\data\shaders\constants\ctes_object.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\bin\data\shaders\constants\ctes_platform.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\geometry\angular.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\geometry\SimpleMath.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\geometry\transform.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\geometry\angular.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\geometry\geometry.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\geometry\SimpleMath.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\geometry\transform.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\camera\camera.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\camera\camera.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\utils\murmur3.c</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\utils\utils.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\utils\XMLParser.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\utils\data_provider.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\utils\data_saver.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\utils\directory_watcher.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\utils\murmur3.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\utils\timer.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\utils\utils.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\utils\XMLParser.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\entities.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\app_module.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\entities.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\imgui\module_imgui.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\imgui\module_imgui.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\io\io.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\io\keyboard.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\io\mouse.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\io\digital_button.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\io\io.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\io\keyboard.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\io\mouse.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\render\module_render_deferred.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\app_modules\render\module_render_deferred.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\resources\resources_manager.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\resources\resource.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\resources\resources_manager.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\handle\handle.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\handle\handle_manager.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\handle\handle.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\handle\handle_manager.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\handle\msgs.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\handle\object_manager.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_aabb.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_camera.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_culling.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_hierarchy.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_light_dir.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_light_dir_shadows.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_light_point.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_render_glow.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_render_static_mesh.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_transform.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\entity.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\entity_parser.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\entity_tags.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\components.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_aabb.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_base.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_camera.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_controller_1st_person.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_controller_3rd_person.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_culling.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_hierarchy.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_life.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_light_dir.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_light_dir_shadows.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_light_point.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_msgs.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_name.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_physics.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_render_glow.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_render_static_mesh.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_tags.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\comp_transform.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\entity.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\entity_parser.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\components\entity_tags.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\expat\xmlparse.c</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\expat\xmlrole.c</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\expat\xmltok.c</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\expat\xmltok_impl.c</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\expat\xmltok_ns.c</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\profiling\profiling.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\profiling\profiling.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\skeleton\comp_bone_tracker.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\skeleton\comp_skeleton.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\skeleton\skeleton.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\skeleton\comp_bone_tracker.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\skeleton\comp_skeleton.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\Engine\skeleton\skeleton.h</File>
    <File>D:\Code\mcv_2015\AUTHORS</File>
    <File>D:\Code\mcv_2015\ChangeLog</File>
    <File>D:\Code\mcv_2015\COPYING</File>
    <File>D:\Code\mcv_2015\INSTALL</File>
    <File>D:\Code\mcv_2015\README</File>
    <File>D:\Code\mcv_2015\TODO</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\animation.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\animation_action.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\animation_cycle.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\bone.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\buffersource.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\cal3d_wrapper.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coreanimation.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\corebone.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\corekeyframe.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\corematerial.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coremesh.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coremodel.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coremorphanimation.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coreskeleton.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coresubmesh.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coresubmorphtarget.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coretrack.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\error.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\global.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\hardwaremodel.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\loader.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\matrix.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\mesh.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\mixer.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\model.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\morphtargetmixer.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\physique.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\platform.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\quaternion.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\renderer.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\saver.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\skeleton.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\springsystem.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\streamsource.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\submesh.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\tinyxml.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\tinyxmlerror.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\tinyxmlparser.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\vector.cpp</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\animation.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\animation_action.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\animation_cycle.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\animcallback.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\bone.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\buffersource.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\cal3d.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\cal3d_wrapper.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coreanimation.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\corebone.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\corekeyframe.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\corematerial.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coremesh.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coremodel.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coremorphanimation.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coreskeleton.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coresubmesh.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coresubmorphtarget.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\coretrack.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\datasource.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\error.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\global.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\hardwaremodel.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\loader.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\matrix.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\mesh.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\mixer.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\model.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\morphtargetmixer.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\physique.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\platform.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\quaternion.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\refcounted.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\refptr.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\renderer.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\resource.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\saver.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\skeleton.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\springsystem.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\streamsource.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\submesh.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\tinyxml.h</File>
    <File>D:\Code\mcv_2015\day32_blur_and_ui_basic\cal3d\vector.h</File>
  </Files>
</Verone>