<?xml version="1.0" encoding="utf-8"?>
<Verone xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WorkingDir>C:\Code\engine\cal3d\#Verone</WorkingDir>
  <Language>Cpp11</Language>
  <ThreadsCount>1</ThreadsCount>
  <IncludeDirs>
    <IncludeDir>C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\include</IncludeDir>
    <IncludeDir>C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\atlmfc\include</IncludeDir>
    <IncludeDir>C:\Program Files (x86)\Windows Kits\10\Include\10.0.10240.0\ucrt</IncludeDir>
    <IncludeDir />
    <IncludeDir>C:\Program Files (x86)\Windows Kits\8.1\Include\um</IncludeDir>
    <IncludeDir>C:\Program Files (x86)\Windows Kits\8.1\Include\shared</IncludeDir>
    <IncludeDir>C:\Program Files (x86)\Windows Kits\8.1\Include\winrt</IncludeDir>
    <IncludeDir>..</IncludeDir>
  </IncludeDirs>
  <Files>
    <File>C:\Code\AUTHORS</File>
    <File>C:\Code\ChangeLog</File>
    <File>C:\Code\COPYING</File>
    <File>C:\Code\INSTALL</File>
    <File>C:\Code\README</File>
    <File>C:\Code\TODO</File>
    <File>C:\Code\engine\cal3d\animation.cpp</File>
    <File>C:\Code\engine\cal3d\animation_action.cpp</File>
    <File>C:\Code\engine\cal3d\animation_cycle.cpp</File>
    <File>C:\Code\engine\cal3d\bone.cpp</File>
    <File>C:\Code\engine\cal3d\buffersource.cpp</File>
    <File>C:\Code\engine\cal3d\cal3d_wrapper.cpp</File>
    <File>C:\Code\engine\cal3d\coreanimation.cpp</File>
    <File>C:\Code\engine\cal3d\corebone.cpp</File>
    <File>C:\Code\engine\cal3d\corekeyframe.cpp</File>
    <File>C:\Code\engine\cal3d\corematerial.cpp</File>
    <File>C:\Code\engine\cal3d\coremesh.cpp</File>
    <File>C:\Code\engine\cal3d\coremodel.cpp</File>
    <File>C:\Code\engine\cal3d\coremorphanimation.cpp</File>
    <File>C:\Code\engine\cal3d\coreskeleton.cpp</File>
    <File>C:\Code\engine\cal3d\coresubmesh.cpp</File>
    <File>C:\Code\engine\cal3d\coresubmorphtarget.cpp</File>
    <File>C:\Code\engine\cal3d\coretrack.cpp</File>
    <File>C:\Code\engine\cal3d\error.cpp</File>
    <File>C:\Code\engine\cal3d\global.cpp</File>
    <File>C:\Code\engine\cal3d\hardwaremodel.cpp</File>
    <File>C:\Code\engine\cal3d\loader.cpp</File>
    <File>C:\Code\engine\cal3d\matrix.cpp</File>
    <File>C:\Code\engine\cal3d\mesh.cpp</File>
    <File>C:\Code\engine\cal3d\mixer.cpp</File>
    <File>C:\Code\engine\cal3d\model.cpp</File>
    <File>C:\Code\engine\cal3d\morphtargetmixer.cpp</File>
    <File>C:\Code\engine\cal3d\physique.cpp</File>
    <File>C:\Code\engine\cal3d\platform.cpp</File>
    <File>C:\Code\engine\cal3d\quaternion.cpp</File>
    <File>C:\Code\engine\cal3d\renderer.cpp</File>
    <File>C:\Code\engine\cal3d\saver.cpp</File>
    <File>C:\Code\engine\cal3d\skeleton.cpp</File>
    <File>C:\Code\engine\cal3d\springsystem.cpp</File>
    <File>C:\Code\engine\cal3d\streamsource.cpp</File>
    <File>C:\Code\engine\cal3d\submesh.cpp</File>
    <File>C:\Code\engine\cal3d\tinyxml.cpp</File>
    <File>C:\Code\engine\cal3d\tinyxmlerror.cpp</File>
    <File>C:\Code\engine\cal3d\tinyxmlparser.cpp</File>
    <File>C:\Code\engine\cal3d\vector.cpp</File>
    <File>C:\Code\engine\cal3d\animation.h</File>
    <File>C:\Code\engine\cal3d\animation_action.h</File>
    <File>C:\Code\engine\cal3d\animation_cycle.h</File>
    <File>C:\Code\engine\cal3d\animcallback.h</File>
    <File>C:\Code\engine\cal3d\bone.h</File>
    <File>C:\Code\engine\cal3d\buffersource.h</File>
    <File>C:\Code\engine\cal3d\cal3d.h</File>
    <File>C:\Code\engine\cal3d\cal3d_wrapper.h</File>
    <File>C:\Code\engine\cal3d\coreanimation.h</File>
    <File>C:\Code\engine\cal3d\corebone.h</File>
    <File>C:\Code\engine\cal3d\corekeyframe.h</File>
    <File>C:\Code\engine\cal3d\corematerial.h</File>
    <File>C:\Code\engine\cal3d\coremesh.h</File>
    <File>C:\Code\engine\cal3d\coremodel.h</File>
    <File>C:\Code\engine\cal3d\coremorphanimation.h</File>
    <File>C:\Code\engine\cal3d\coreskeleton.h</File>
    <File>C:\Code\engine\cal3d\coresubmesh.h</File>
    <File>C:\Code\engine\cal3d\coresubmorphtarget.h</File>
    <File>C:\Code\engine\cal3d\coretrack.h</File>
    <File>C:\Code\engine\cal3d\datasource.h</File>
    <File>C:\Code\engine\cal3d\error.h</File>
    <File>C:\Code\engine\cal3d\global.h</File>
    <File>C:\Code\engine\cal3d\hardwaremodel.h</File>
    <File>C:\Code\engine\cal3d\loader.h</File>
    <File>C:\Code\engine\cal3d\matrix.h</File>
    <File>C:\Code\engine\cal3d\mesh.h</File>
    <File>C:\Code\engine\cal3d\mixer.h</File>
    <File>C:\Code\engine\cal3d\model.h</File>
    <File>C:\Code\engine\cal3d\morphtargetmixer.h</File>
    <File>C:\Code\engine\cal3d\physique.h</File>
    <File>C:\Code\engine\cal3d\platform.h</File>
    <File>C:\Code\engine\cal3d\quaternion.h</File>
    <File>C:\Code\engine\cal3d\refcounted.h</File>
    <File>C:\Code\engine\cal3d\refptr.h</File>
    <File>C:\Code\engine\cal3d\renderer.h</File>
    <File>C:\Code\engine\cal3d\resource.h</File>
    <File>C:\Code\engine\cal3d\saver.h</File>
    <File>C:\Code\engine\cal3d\skeleton.h</File>
    <File>C:\Code\engine\cal3d\springsystem.h</File>
    <File>C:\Code\engine\cal3d\streamsource.h</File>
    <File>C:\Code\engine\cal3d\submesh.h</File>
    <File>C:\Code\engine\cal3d\tinyxml.h</File>
    <File>C:\Code\engine\cal3d\vector.h</File>
  </Files>
</Verone>